.category {
  width: 200px; /* May change */
  margin: 5px;
}

.category__title {
  padding: 0;
  margin: 0;
  text-align: center;
}

.category__items {
  height: 250px;
  list-style: none;
  padding: 0;
  margin: 0;
  
  overflow: hidden;
  overflow-y: scroll;
}

.category__items li:nth-child(even) {
  background-color: gray;
}

.category__items li:nth-child(odd) {
  background-color: darkgray;
}